@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'libs/slick';
@import 'libs/slick-theme';
@import 'libs/animate';

@import 'base/variables';
@import 'base/animations';

* {
    font-family: 'Roboto', sans-serif;    
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}
.header {
    background: black;
    color: yellow;
    font-size: 24px;
    text-align: center;
}
@media (max-width: 1200px) {
    .container {
        padding: 0 15px;
    }
}



